@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Heavy.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: 400;
}

.header {
  padding: 1.875vw 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-text {
  margin-left: 2.1875vw;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125vw;
  line-height: 1.875vw;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__nav-item {
  margin-right: 1.875vw;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #FFFFFF;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search svg {
  width: 1.0625vw;
}

.header .search input {
  margin-left: 1.625vw;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  height: 3.50877vh;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
}

.header .search input::-webkit-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.header .search input:-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.header .search input::-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.header .search input::placeholder {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__location .location__citys {
  list-style-type: none;
}

.header__location .location__citys-item {
  margin: 0 1.9375vw 0 1.4375vw;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.header__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__categories .burger {
  margin-right: 4.5614vh;
}

.header__categories .burger span {
  position: relative;
  display: inline-block;
  margin-bottom: 0.17544vh;
  width: 1.375vw;
  height: 0.15625vw;
  border-radius: 0.1875vw;
  background-color: white;
}

.header__categories .burger span::before, .header__categories .burger span::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-0.375vw);
          transform: translateY(-0.375vw);
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.header__categories .burger span::after {
  -webkit-transform: translateY(0.375vw);
          transform: translateY(0.375vw);
}

.header__categories-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
}

.hero {
  background: url("../img/herobg.png") no-repeat;
  height: 100vh;
  color: #FFFFFF;
  text-align: center;
  padding-top: 11.875vw;
}

.hero .heading {
  position: relative;
}

.hero__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 3.125vw;
  position: relative;
  z-index: 1;
}

.hero__bg-text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 5.625vw;
  line-height: 10vw;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0.2;
  z-index: -1;
}

.hero__form {
  margin-top: 6.25vw;
}

.hero__form-place, .hero__form-city {
  width: 27.8125vw;
  height: 3.125vw;
  border-radius: 1.875vw;
  margin-right: 1.875vw;
  background-color: rgba(13, 17, 26, 0.5);
  border: none;
  color: white;
}

.hero__form-place::-webkit-input-placeholder, .hero__form-city::-webkit-input-placeholder {
  color: white;
}

.hero__form-place:-ms-input-placeholder, .hero__form-city:-ms-input-placeholder {
  color: white;
}

.hero__form-place::-ms-input-placeholder, .hero__form-city::-ms-input-placeholder {
  color: white;
}

.hero__form-place::placeholder, .hero__form-city::placeholder {
  color: white;
}

.hero__form-city {
  width: 15.9375vw;
}

.hero__form-button {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.25vw;
  color: #FFFFFF;
  width: 10vw;
  height: 3.125vw;
  background: #FF6633;
  border: none;
  border-radius: 1.875vw;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vw;
}

.hero__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75vw;
  line-height: 1.25vw;
  margin-right: 2.1875vw;
}

.hero__list-item:last-child {
  margin-right: 0;
}

.hero__list-link {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 1.25vw;
}

body, h3, ul, div, span {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */