.about {
    text-align: center;
    padding-top: vw(75);
    .row {
        flex-wrap: wrap;
    }
    &__item {
        @include flex();
        flex-direction: column;
        margin: vw(15);
        border: vw(2) solid $border-color;
        border-radius: vw(15);
        height: vw(255);
        transition: 0.3s;
        &:hover {
            background-color: $bg-white;
        }
        &-img {
            width: vw(90);
            height: vw(90);
        }
        &-text {
            @include font(700, vw(13), vw(25));
            color: $color-GrayBlue60;
        }
    }
}